extends layout

block content

    h1= title
    p Välkommen till #{title}

    form(name="scrapeUrl", action="/scrape", method="post")

        p Var god ange URL till sidan att skrapa.

        input(type="text", name="urlToScrape")

        input(type="submit", value="Skrapa url")

