body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/background.png) repeat-x #000000;
}

form {
    font-size: 14px;
}

h1 {
    color: #FFFFFF;
}

a {
  color: #00B7FF;
}

input {
    font-family: 'Open Sans', sans-serif;
}

div {
    background: #FFFFFF;
    width: 400px;
    float: left;
    padding: 20px;
    margin: 1px;
    clear: both;
}

    div.event h2 {
        margin: 10px 0;
    }
